body 
{    
    text-align: left;
}

#logo
{
    height:8%;
    width:20%;
    position:relative;
    top: 13px;
    left: 38px;
}

#hr
{
    color:black;
}

#MainContent
{
    border: medium groove black;
    margin-right:131px;
    width:1891px;
    text-align: left;
    font-size: x-large;
    height: 44px;
    margin-left: 0px;
}

/*FINALLY REMOVED UNDERLINE*/

.Links
{
    text-decoration:none;
}